body {
  margin: 0;
  background-color: #DCE1E4;
}



main {
  margin-top: 50px;
}


.main_course {
  border: 1px black solid;
  border-radius: 2px;
}

div {
  margin: 0;
  padding: 0;
}

button {
  border: 1px black solid;
  border-radius: 3px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(40, 39, 39);
  box-sizing: border-box;
}