services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - 6379:6379

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: LMS 
      POSTGRES_USER: administrator
      POSTGRES_PASSWORD: 12345
    volumes:
      - lms-data:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    

volumes:
  lms-data: