.menu {
  position: sticky;
  top: 44px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  background-color: #cdd6d3;
  min-width: 280px;
  width: 80%;
  padding: 3px;
  border: 1px black solid;
  border-radius: 3px;
  box-sizing: border-box;
}

.redactor-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  gap: 3px;
  
}

div[data-type="redactor"] {
  min-width: 280px;
  width: 80%;
  min-height: 500px;
  border: 1px black solid;
  padding: 2rem;
  box-sizing: border-box;
}

div[data-type="redactor"]:focus {
  outline: 2px dashed black;
  outline-offset: 1px;
}











