.menu {
  position: sticky;
  top: 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  background-color: #cdd6d3;
  min-width: 390px;
  width: 60%;
  padding: 3px;
  border: 1px black solid;
  border-radius: 3px;
  box-sizing: border-box;
}

.redactor-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 50px;
}

#redactor {
  min-width: 380px;
  width: 60%;
  min-height: 500px;
  border: 1px black solid;
  padding: 2rem;
  box-sizing: border-box;
}

#redactor:focus {
  outline: 2px dashed black;
  outline-offset: 1px;
}











