.lecture-form-files-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 280px;
    padding: 0px;
    align-self: center;
    align-items: center;
    box-sizing: content-box;
}

.lecture-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  align-items: center;
    border: 1px black solid;
    border-radius: 3px;
}

.lecture-form-title {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 240px;
    align-self: center;
    box-sizing: content-box;
}

.lecture-form-title * {
    max-width: 300px;
}

.lecture-form-title input[type="text"] {
    height: 24px;
    border: 2px black solid;
    border-radius: 3px;
}

.lecture-form-title input[type="text"]:focus {
  outline: 2px dashed black;
  outline-offset: 1px;
}

.lecture-form-create-button {
  color: white;
  background-color: #408d01;
  border: 1px black solid;
  border-radius: 3px;
  padding: 7px 10px;
  margin: 0px;
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.lecture-form-button-container {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    min-width: 280px;
    align-self: center;
    padding: 0px;
    margin: 0 0 20px 0;
}