.coursesList {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Arial;
    font-size: 16px;
}

.main-course {
    cursor: pointer;
    max-width: 700px;
    width: 100%;
    min-width: 200px;
    border-width: 2px 0;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    min-height: 6em;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-course-description {
    font-size: 16px;
    font-family: "Times New Roman";
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}

.main-course-description-closed {
    max-height: 7em;
    overflow: hidden;
    position: relative;
}

.main-course-description-closed::before {
    background: linear-gradient(to bottom, #ffffff00 00%, #ffffff80 30%, #fff 75%);
    position: absolute;
    left: 0;
    bottom: 0%;
    height: 50%;
    width: 100%;
    content: "Читать далее";
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0 15px;
} 

.main-course-description-opened {
    max-height:max-content;
    overflow: visible;
}

.main-course-title {
    text-align: justify;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

main {
    min-height: 90vh;
}

