.color-container {
    display: inline-flex;  
    flex-wrap: wrap;
}

.color-button {
    background-color: #e3a301;
    border: 1px black solid;
    color: white;
    font-family: Arial;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin: 0; 
    height: 30px;
    border-radius: 3px 0 0 3px;
    border-left-width: 1px;
    font-size: 12px;
    width: 36px;
}

.color-toggle {
    background-color: #e3a301;
    border: 1px black solid;
    color: white;
    font-family: Arial;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin: 0; 
    height: 30px;
    border-radius: 0 3px 3px 0;
    border-left-width: 1px;
    font-size: 8px;
    width: 25px;
}

.color-button:disabled {
    background-color: #cda94d;
}


.color-toggle:disabled {
    background-color: #cda94d;
}

.color-options {
    border: 1px black solid;
    border-radius: 3px;
    position: absolute;
    top: 30px; 
    left: -61px;
    padding: 5px;
    background-color:#DCE1E4;
}

.color-options-inner {
    display: flex;
    flex-direction: column;
    height: 40vh;
    min-height: 300px;
    width: 46px;
    gap: 1px;
    overflow: auto;
    scrollbar-width: thin;
    border: 0px gray solid;
    border-radius: 2px;
    padding: 0 2px;
}

.color-options-inner::-webkit-scrollbar {
    width: 5px;
}

.color-wrap {
    position: relative;
}

.color-option {
    background-color: #fff;
    border: 1px black solid;
    border-radius: 3px;
    padding: 3px;
    width: 38px;
}