.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.align-button {
  font-size: 5px;
  line-height: 4px;
  padding: 6px;
  padding-top: 0;
  width: 30px;
  height: 30px;
  border: 1px black solid;
  border-radius: 3px;
  text-decoration: underline;
  color:#000;
  text-decoration-thickness: 1.7px;
  text-underline-offset: 1px;
}

.align-buttons-grid {
  display: grid;
  grid-template: 30px 30px / 30px 30px;
  gap: 1px;
}

.align-button-pushed {
    background-color: #ffea00;
}

.align-button-unpushed {
    background-color: #dcc902;
}