.apply-button-status {
    min-width: 200px;
    background-color: #b2d296;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 12px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 0;
}

.apply-button {
      color: white;
  
  border: 1px black solid;
  border-radius: 3px;
  padding: 7px 10px;
  margin: 5px;
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  justify-self: flex-end;
}
.apply-button-send {
    background-color: #408d01;
}

.apply-button-withdraw {
    background-color: #8d010a;
}