.navigator-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1px;
    padding: 1px;
    width: 100%;
    border: 1px black solid;
    background-color: rgb(90, 61, 61);
    box-sizing: border-box;
}

.navigator-wrap {
    position: sticky;
    top: 45px;
    display: block;
    height: 100vh;
    width: 99%;
    box-sizing: border-box;
}

.lesson-create-link-button {
    background-color: darkgreen;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    padding-left: 15px;
    min-height: 40px;
    border-radius: 3px;
    width: 100%;
}