.task-container {
    width: 98.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px black solid;
    border-radius: 6px;
    margin: 0 12px 12px 0;
}

.task-title-container {
    display:flex;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #c0bb37;
    border-bottom: 1px black solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 20px;
    width: 100%;
}

.task-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000;
    margin: 10px;
}

.task-content {
    min-width: 385px;
    width: 98%;
    min-height: 200px;
    border: 1px black solid;
    padding: 2rem;
    box-sizing: border-box;
    margin: 10px;
    background-color: #cdd6d3;
}

.task-files-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}