.tasks-create-button-container {
    border: 2px black dashed;
    border-radius: 6px;
    width: 98.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tasks-create-button {
    border: 0;
    text-align: left;
    font-family: Arial;
    font-size: 20px;
    padding: 12px 20px;
    background-color: #fff;
}